body,html {
  height: 100vh;
}

.listContainer {
  margin: 50px;
}

.item > Button {
  width: 30px;
  height: 10px;
}

/* .row > .col {
  margin-top: "10px";
} */

#description {
  width: "300px";
}

.loginForm, .allOrSearch {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: "white";
}

.logContainer {
  align-items: center;
  background-color: rgb(27, 114, 229);
  margin: 2rem;
  padding: 2rem;
  border-radius: 10px;
}

.allOrSearch > .row > #left {
  padding: 6%;
  margin: 1rem;
  background-color: rgb(255, 21, 0);
  border-radius: 20px;
  box-shadow: gray 10px 10px 20px;

}

.allOrSearch > .row > #right {
  padding: 5%;
  background-color: rgb(255, 191, 0);
  border-radius: 20px;
  box-shadow: gray 10px 10px 20px;
}

.allOrSearch > .row > #left > button {
  background-color: rgb(40, 185, 40);
  border: none;
  box-shadow: black 5px 5px 20px;
}